@font-face {
  font-family: "Inter";
  src: url("/assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("/assets/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color: #794cff;
}

body {
  font-family: "Inter";
  line-height: 1.5;
  color: #35414b;
}

header {
  position: relative;
}

.section {
  max-width: 1500px;
  margin: 0 auto;
  padding: 60px 165px;
}

.btn {
  border: none;
  border-radius: 4px;
  line-height: 1;
  background-color: #ece5ff;
  color: var(--main-color);
  padding: 16px 24px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  color: #ece5ff;
  background-color: var(--main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.header {
  padding: 30px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  line-height: 1;
  flex-wrap: wrap;
}

.logo {
  letter-spacing: -6%;
  font-weight: 600;
  font-size: 24px;
  color: #1d2830;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px, 1vw, 16px;
}

.header-link:hover {
  color: var(--main-color);
}

.fa-angle-down {
  font-size: 10px;
}

.registr-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger-container {
  display: none;
  font-size: 8px;
  text-transform: uppercase;
}

.burger-btn {
  font-size: 24px;
  margin-bottom: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 30%;
  width: 100%;

  background: url("../images/Ellipse.png") no-repeat center bottom;
  background-size: cover;
  background-position: center;

  z-index: -2;
}

.hero-content {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.hero-sale {
  background-color: #f2f9eb;
  border-radius: 100px;
  padding: 8px 16px 8px 0;
}

.hero-sale-accent {
  background-color: #81c43b;
  color: #fff;
  border-radius: 100px;
  padding: 8px 16px;
}

.hero-title {
  font-size: clamp(32px, 5vw, 64px);
  font-weight: 600;
  line-height: 1.1;
}

.hero-description {
  max-width: 500px;
}

.regist-block {
  display: flex;
}

.user-email-inp {
  padding: 18px 24px;
  border: 1px solid #e1e5ea;
  border-radius: 4px 0 0 4px;
}

.hero-btn {
  padding: 18px 45px;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 0 4px 4px 0;
}

.hero-btn:hover {
  background-color: #592ae6;
}

.hero-img {
  width: 100%;
  box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
  margin-bottom: 76px;
  object-fit: contain;
}

.hero-links {
  display: flex;
  align-items: center;
  gap: 132px;
  margin-top: 5px;
}

.hero-link {
  width: 100%;
}

.function-section {
  background-color: #fbfafe;
  border-top: 1px solid #f0ebfa;
  border-bottom: 1px solid #f0ebfa;
}

.functions-container {
  display: flex;
  gap: 80px;
}

.function-img {
  width: 100%;
  object-fit: contain;
  flex-basis: 50%;
}

.functions-content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.function-block {
  padding: 26px 32px 0 32px;
  border-left: 8px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 0 8px 8px 0;
}

.function-block > :not(:first-child) {
  border-bottom: 1px solid #f0ebfa;
}

.function-block:hover {
  background-color: #f6f3fc;
  border-bottom: 1px solid #f6f3fc;
  border-left: 8px solid var(--main-color);
}

.function-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.function-description {
  padding-bottom: 26px;
}

.make-your-work-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.section-title {
  font-size: clamp(18px, 5vw, 40px);
  font-weight: 600;
  line-height: 1;
}

.tasks-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 80px 120px;
}

.task-title {
  font-size: 18px;
  font-weight: 600;
  margin: 24px 0 8px 0;
}

.task-btn {
  display: none;
}

.we-work-section {
  background-color: #fbfafe;
  border-top: 1px solid #f0ebfa;
  border-bottom: 1px solid #f0ebfa;
  display: flex;
  align-items: center;
  gap: 90px;
}

.we-work-content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.description-section {
  color: #4e5a65;
}

.we-work-btn {
  padding: 18px 21px;
  background-color: var(--main-color);
  color: #fff;
}

.we-work-btn:hover {
  background-color: #592ae6;
}

.we-work-graph {
  flex-basis: 50%;
  width: 100%;
}

@media screen and (max-width: 860px) {
  body {
    text-align: center;
  }

  .section {
    padding: 60px 15px;
  }

  .header {
    gap: 32px;
    justify-content: space-between;
  }

  .logo {
    font-size: 20px;
  }

  .hero-links {
    font-size: 11px;
    gap: 32px;
  }

  .functions-container {
    flex-direction: column;
  }

  .function-block {
    padding: 18px 38px 0 38px;
    border-left: 0;
    border-bottom: 8px solid transparent;
    border-radius: 8px 8px 0 0;
  }

  .function-block:hover {
    border-left: 0;
    border-bottom: 8px solid var(--main-color);
  }

  .we-work-section {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .we-work-content {
    align-items: center;
  }

  .we-work-btn {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 32px 15px;
  }

  .header-nav {
    display: none;
  }

  .registr-container {
    display: none;
  }

  .burger-container {
    display: block;
  }

  .hero-sale {
    padding: 4px 16px;
  }

  .hero-sale-accent {
    display: none;
  }

  .hero-img {
    margin-bottom: 56px;
  }

  .regist-block {
    flex-direction: column;
    gap: 8px;
  }

  .regist-block * {
    border-radius: 4px;
  }

  .tasks-container {
    max-width: 320px;
  }

  .task-block:nth-child(n + 4) {
    display: none;
  }

  .task-btn {
    display: block;
    width: 100%;
  }
}
