body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.header {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 8px 16px;
  letter-spacing: 4px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo,
.header-link {
  padding: 8px 16px;
}

.logo:hover,
.header-link:hover {
  background-color: #ccc;
}

.accent-header {
  font-weight: bold;
}
