body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 100%;
}

.section {
  max-width: 1600px;
  margin: 0 auto;
  padding: 8px 32px;
}

.segoi-family {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}

.header {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 8px 16px;
  letter-spacing: 4px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow:
    0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header-nav {
  display: flex;
}

.logo,
.header-link {
  padding: 8px 16px;
}

.logo:hover,
.header-link:hover {
  background-color: #ccc;
}

.accent-header {
  font-weight: bold;
}

.hero-section {
  position: relative;
  max-height: 100vh;
  margin: 0 auto;
  color: #f1f1f1;
  font-size: 36px;
  letter-spacing: 4px;
}

.hero-img {
  object-fit: cover;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.accent-hero {
  background-color: #000;
  opacity: 0.75;
  padding: 8px 16px;
  font-weight: 700;
}

.projects-section {
  margin: 32px auto;
}

.section-title {
  padding: 16px 0;
  font-size: 24px;
  border-bottom: 1px solid #f1f1f1;
  margin: 10px 0;
}

.projects-container {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px 16px;
}

.projects-container > div {
  position: relative;
}

.title-project-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
}

.about-description {
  margin: 10px 0;
}

.engineers-container {
  position: relative;
  padding: 32px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.engineer-block > img {
  filter: grayscale(75%);
}

.engineer-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.engineer-profession {
  opacity: 0.6;
  margin: 15px 0;
}

.engineer-description {
  margin: 15px 0;
}

.contact-btn {
  padding: 8px 16px;
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  font-size: 17px;
  line-height: 1.5;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #ccc;
}

@media screen and (max-width: 980px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .engineers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    background-size: contain;
    background-position: top;
  }

  .hero-arc {
    display: none;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .engineers-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-nav {
    display: none;
  }
}
